page-item-detail {
    .item-profile {
        width: 100%;
        background-position: center center;
        background-size: cover;
        height: 250px;
    }
    .item-detail {
        width: 100%;
        background: white;
        position: absolute;
        .item-inner {
            font-size: 1.5rem;
            ul {
                margin-right: 16px;
                li {
                    list-style-type: square;
                }
            }
        }
    }
    .list-header-md {
        margin-bottom: 0px !important;
        min-height: 3.5rem !important;
        .label-md {
            margin: 0px 8px 0px 0;
        }
    }
    table {
        font-size: 14px;
        th {
            font-size: 13px;
            font-weight: 600;
        }
    }
    .event_title {
        font-size: 18px;
        span {
            color: #555;
            font-size: 14px;
            display: block;
        }
    }
}