<ion-header>

    <ion-navbar>
        <ion-title>{{ item.title }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.bannerPic + ')'">
    </div>
    <button ion-button color="primary" center (click)="register(item.id)">Register your team</button>
    <ion-item *ngFor="let i of testarr">
        {{i.eventCategory}}
    </ion-item>
    <div class="item-detail" padding>
        <h2>{{item.title}}</h2>
        <p>{{item.subTitle}}</p>

        <p>{{item.startDate}}</p>
        <p>{{item.endDate}}</p>
        <p>{{item.address1}}, {{item.address2}}, {{item.city}},{{item.state}},{{item.country}}</p>

        <h3>Contacts</h3>
        <ion-list>
            <ion-item *ngFor="let i of item.contacts">
                <label>{{i.name}}</label>: <span>{{i.mobile}}</span>
            </ion-item>
        </ion-list>

        <h3>Event Type</h3>
        <ion-list>
            <ion-item>
                {{item.eventType}}
            </ion-item>
        </ion-list>
        <div *ngFor="let item of item.category">
            <h3>Category: {{item.eventCategory}}</h3>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th width="70">#</th>
                        <th>MD</th>
                        <th>MS</th>
                        <th>WD</th>
                        <th>WS</th>
                        <th>XD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Entry</td>
                        <td>
                            {{item.md_entry}}
                        </td>
                        <td>
                            {{item.ms_entry}}
                        </td>
                        <td>
                            {{item.wd_entry}}
                        </td>
                        <td>
                            {{item.ws_entry}}
                        </td>
                        <td>
                            {{item.xd_entry}}
                        </td>
                    </tr>
                    <tr>
                        <td>1st Prize</td>
                        <td>
                            {{item.md_1st}}
                        </td>
                        <td>
                            {{item.ms_1st}}
                        </td>
                        <td>
                            {{item.wd_1st}}
                        </td>
                        <td>
                            {{item.ws_1st}}
                        </td>
                        <td>
                            {{item.xd_1st}}
                        </td>
                    </tr>
                    <tr>
                        <td>2nd Prize</td>
                        <td>
                            {{item.md_2nd}}
                        </td>
                        <td>
                            {{item.ms_2nd}}
                        </td>
                        <td>
                            {{item.wd_2nd}}
                        </td>
                        <td>
                            {{item.ws_2nd}}
                        </td>
                        <td>
                            {{item.xd_2nd}}
                        </td>
                    </tr>
                    <tr>
                        <td>3rd Prize</td>
                        <td>
                            {{item.md_3rd}}
                        </td>
                        <td>
                            {{item.ms_3rd}}
                        </td>
                        <td>
                            {{item.wd_3rd}}
                        </td>
                        <td>
                            {{item.ws_3rd}}
                        </td>
                        <td>
                            {{item.xd_3rd}}
                        </td>
                    </tr>
                    <tr>
                        <td>4th Prize</td>
                        <td>
                            {{item.md_4th}}
                        </td>
                        <td>
                            {{item.ms_4th}}
                        </td>
                        <td>
                            {{item.wd_4th}}
                        </td>
                        <td>
                            {{item.ws_4th}}
                        </td>
                        <td>
                            {{item.xd_4th}}
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

        <h3>Terms & Conditions</h3>
        <ion-list>
            <ion-item *ngFor="let term of item.terms">
                {{term}}
            </ion-item>
        </ion-list>

        <h3>Other Details</h3>
        <ion-list>
            <ion-item *ngIf="item.lunch">
                Lunch: Yes
            </ion-item>
            <ion-item *ngIf="item.refreshment">
                Refreshment: Yes
            </ion-item>
            <ion-item *ngIf="item.certificate">
                Certificate: Yes
            </ion-item>
            <ion-item *ngIf="item.goodies">
                Goodies: Yes
            </ion-item>
            <ion-item *ngIf="item.medal">
                Medal: Yes
            </ion-item>
        </ion-list>
    </div>
</ion-content>