button,
a,
button:focus,
button:active,
a:focus,
a:active,
a:visited,
button:visited {
    outline: none;
}

//$app-direction: multi;
//Google fonts for logo and title
// font-family: 'Merienda', cursive;
// font-family: 'Play', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Merienda|Play');
my-app {
    #ion-diagnostics-toast .ion-diagnostics-toast-message {
        margin-top: -2px;
    }
    .headerMenu {
        position: relative;
        height: 200px;
        background: #000;
        .bg {
            position: absolute;
            top: 0px;
            bottom: 0;
            left: 0;
            width: 105%;
            overflow: hidden;
            z-index: 5;
            img {
                width: 100%;
                filter: blur(7px);
                margin: -10px 0px 0 -7px;
                opacity: .9;
            }
        }
        .profile {
            position: absolute;
            height: 80px;
            width: 80px;
            z-index: 10;
            border-radius: 50%;
            left: 50%;
            top: 15%;
            margin: 0 0px 0 -40px;
            overflow: hidden;
        }
        .name {
            position: absolute;
            bottom: 10px;
            left: 20px;
            z-index: 10;
            span {
                color: #fff;
                font-size: 16px;
                font-weight: 500;
                display: block;
            }
        }
    }
}