button,
a,
button:focus,
button:active,
a:focus,
a:active,
a:visited,
button:visited {
    outline: none;
}

//$app-direction: multi;
//Google fonts for logo and title
// font-family: 'Merienda', cursive;
// font-family: 'Play', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Merienda|Play');