<ion-header>

    <ion-navbar>
        <ion-title>Event List</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
    <!--<ion-toolbar>
        <ion-segment [(ngModel)]="events_segmnt" color="secondary">
            <ion-segment-button value="past">
                Past
            </ion-segment-button>
            <ion-segment-button value="live">
                Live
            </ion-segment-button>
            <ion-segment-button value="upcoming">
                Upcoming
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>-->

</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="events_segmnt" color="primary">
        <ion-segment-button value="past">
            past
        </ion-segment-button>
        <ion-segment-button value="live">
            live
        </ion-segment-button>
        <ion-segment-button value="upcoming">
            upcoming
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="events_segmnt">
        <ion-list *ngSwitchCase="'past'">
            <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
            <ion-item-sliding *ngFor="let item of currentItems | async | eventFilter: searchText | datevalidate:'past'">
                <button ion-item (click)="openItem(item,'past')">
                    <ion-avatar item-start>
                    <img [src]="item.bannerPic"/>
                    </ion-avatar>
                
                    <h2>{{item.title}}</h2>
                    <p>{{item?.createdAt | timeAgo}}</p>
                    <p>{{item.subTitle}}<br>{{item.startDate | date: 'medium'}}</p>
                    </button>
                <ion-item-options>
                    <button ion-button color="danger" (click)="deleteItem(item)">
                        {{ 'DELETE_BUTTON' | translate }}
                    </button>
                    <button ion-button color="primary" (click)="editItem(item)">
                        Edit
                    </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchCase="'live'">
            <ion-item-sliding *ngFor="let item of currentItems | async | datevalidate:'live'">
                <button ion-item (click)="openItem(item,'live')">
                    <ion-avatar item-start>
                    <img [src]="item.bannerPic"/>
                    </ion-avatar>
                
                    <h2>{{item.title}}</h2><p>{{item?.createdAt | timeAgo}}</p>
                    <p>{{item.subTitle}}<br>{{item.startDate | date: 'medium'}}</p>
                </button>
                <ion-item-options>
                    <button ion-button color="danger" (click)="deleteItem(item)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
                    <button ion-button color="primary" (click)="editItem(item)">
                    Edit
                </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>

        <ion-list *ngSwitchCase="'upcoming'">
            <ion-item-sliding *ngFor="let item of currentItems | async | datevalidate:'upcoming'">
                <button ion-item (click)="openItem(item,'upcoming')">
                    <ion-avatar item-start>
                    <img [src]="item.bannerPic"/>
                    </ion-avatar>
                
                    <h2>{{item.title}}</h2><p>{{item?.createdAt | timeAgo}}</p>
                    <p>{{item.subTitle}}<br>{{item.startDate | date: 'medium'}}</p>
                </button>
                <ion-item-options>
                    <button ion-button color="danger" (click)="deleteItem(item)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
                    <button ion-button color="primary" (click)="editItem(item)">
                    Edit
                </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>


</ion-content>